@font-face {
    font-family: popins;
    src: url("../assets/font_family/Poppins-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* pousser le footer vers le bas */
main.content {
    flex: 1;
    padding: 30px 0;
}

/* ==============HEADER================== */
header {
    background-color: rgb(19, 186, 227);
}

.header-container {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    height: 70px;

}

/* ================Navbar=============== */

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navlink a,
.logout-btn {
    text-decoration: none;
    font-size: 1.2rem;
    color: #089111;
    transition: all 0.3s ease;
}

.navlink a:hover {
    color: white;
    text-decoration: underline;
}

.logout-btn {
    border: none;
    background-color: rgb(19, 186, 227);
    cursor: pointer;
}

.logout-btn i {
    color: rgb(195, 17, 79);
}

.logout-btn:hover {
    color: red;
}

.nav-user {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
}

/* ----------mobile------------- */
@media (max-width: 768px) {
    .user-menu {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* ====================MAIN==================== */
.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* =================PAGE ACCUEIL=========================== */

.hero-label,
.section-label {
    display: inline-block;
    color: #1877f2;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
}


.hero-label {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 8px 15px;
    border-radius: 30px;
}


.hero-overlay h1 {
    font-size: 48px;
    margin-bottom: 20px;
}


.hero-overlay p {
    font-size: 19px;
    max-width: 700px;
    margin: auto;
}

.index-section,
.destination-section {
    max-width: 1150px;
    margin: auto;
    padding: 90px 25px;
}


.index-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}


.index-text h2,
.destination-text h2 {
    color: #1d3557;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 20px;
}


.index-text p,
.destination-text p {
    color: #666;
    margin-bottom: 15px;
}


.index-image img,
.destination-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.objectifs-section,
.fonctionnalites-section {
    padding: 90px 25px;
    background: white;
}


.section-title {
    max-width: 750px;
    margin: 0 auto 50px;
    text-align: center;
}


.section-title h2 {
    font-size: 35px;
    color: #1d3557;
    margin-bottom: 15px;
}


.section-title p {
    color: #777;
}


.objectifs-grid {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.objectif-card {
    background: #f8fafc;
    padding: 30px 25px;
    border-radius: 18px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid #edf0f4;
}


.objectif-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.09);
}

.objectif-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaf3ff;
    color: #1877f2;
    font-size: 25px;

}


.objectif-card h3 {
    color: #1d3557;
    margin-bottom: 10px;
}


.objectif-card p {
    color: #777;
    font-size: 15px;
}

.destination-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}


.destination-text {
    order: 2;
}


.destination-image {
    order: 1;
}


.discover-button,
.final-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    padding: 13px 22px;
    border-radius: 10px;
    background: #1877f2;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}


.discover-button:hover,
.final-button:hover {
    background: #0d65d9;
    transform: translateY(-2px);
}

.fonctionnalites-grid {
    max-width: 1050px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.fonctionnalite {
    text-align: center;
    padding: 25px;
}


.fonctionnalite>i {
    font-size: 30px;
    color: #1877f2;
    margin-bottom: 18px;
}


.fonctionnalite h3 {
    color: #1d3557;
    margin-bottom: 8px;
}


.fonctionnalite p {
    color: #777;
    font-size: 15px;
}

.index-final {
    background:
        linear-gradient(rgba(24, 118, 242, 0.701),
            rgba(13, 101, 217, 0.732)),
        url("./assets/images/pnkb.jpg");

    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 90px 25px;

}

.index-final>div {
    max-width: 700px;
    margin: auto;
}


.index-final i {
    font-size: 40px;
    margin-bottom: 15px;
}


.index-final h2 {
    font-size: 38px;
    margin-bottom: 15px;
}


.index-final p {
    margin-bottom: 20px;
    opacity: 0.95;
}


.final-button {
    background: white;
    color: #1877f2;
}


.final-button:hover {
    background: #f0f5ff;
}

@media (max-width: 900px) {

    .index-section,
    .destination-section {
        grid-template-columns: 1fr;
    }

    .destination-text {
        order: 1;
    }

    .destination-image {
        order: 2;
    }

    .objectifs-grid,
    .fonctionnalites-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .index-hero {
        min-height: 420px;
    }

    .hero-overlay h1 {
        font-size: 34px;
    }

    .hero-overlay p {
        font-size: 16px;
    }

    .index-section,
    .destination-section {
        padding: 60px 18px;
    }

    .index-text h2,
    .destination-text h2,
    .section-title h2 {
        font-size: 28px;
    }

    .index-image img,
    .destination-image img {
        height: 280px;
    }

    .objectifs-grid,
    .fonctionnalites-grid {
        grid-template-columns: 1fr;
    }

    .objectifs-section,
    .fonctionnalites-section {
        padding: 60px 18px;
    }

    .index-final h2 {
        font-size: 30px;
    }
}

/* -------------------statistiques------------------------- */
.stats {
    padding: 70px 0;
    background: white;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.start-card {
    background: #e8f5e9;
    padding: 35px;
    text-align: center;
    border-radius: 20px;
    transition: .3s;
}

.start-card:hover {
    transform: translateY(-10px);
}

.start-card h3 {
    font-size: 45px;
    color: #2e7d32;
    margin-bottom: 10px;
}

.start-card p {
    font-size: 18px;
}

/* -----------------------Activités------------------------ */
.activites {
    padding: 80px 0;
    background: #f5f5f5;
}

.activites h2 {
    text-align: center;
    font-size: 40px;
    color: #1b5e20;
    margin-bottom: 40px;
}

.activites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 15px;
}

.activity-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    transition: .4s;
}

.activity-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
}

.activity-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .5s;
}

.activity-card img:hover {
    transform: scale(1.1);
}

.activity-content {
    padding: 25px;
}

.activity-content h3 {
    font-size: 25px;
    color: #2e7d32;
    margin-bottom: 15px;
}

.activity-content p {
    line-height: 1.7;
    margin-bottom: 10px;
}

.all-activities-btn {
    text-align: center;
    margin-top: 30px;
}

.all-activities-btn a {
    display: inline-block;
    padding: 15px 35px;
    background: #2e7d32;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

.all-activities-btn a:hover {
    background: #1b5e20;
    transform: translateY(-3px);
}

/* -------------Page de l'activite------------------ */
.activities-header {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, .45),
            rgba(0, 0, 0, .45)),
        url("./assets/images/kiki.jpg");
    background-size: cover;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.activities-header h1 {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.activities-header p {
    text-align: center;
    font-size: 22px;
    max-width: 700px;
    margin: auto;
}

/* ---------------Popup dans l'activité------------------ */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer;
}

.popup-content {
    background: white;
    width: 600px;
    max-width: 90%;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    animation: popup .3s ease;
    cursor: auto;
}

.popup-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.popup-content h2 {
    color: #1b5e20;
    margin: 20px 0;
}

.popup-content p {
    line-height: 1.7;
}

.close {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 35px;
    cursor: pointer;
    color: #333;
}

@keyframes popup {
    from {
        transform: scale(.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* -----------------j'aime & commentaires--------------------  */
.activity-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

}

.activity-actions a {
    text-decoration: none;
    color: #65676b;
}

.activity-actions a:hover {
    color: #1877F2;
}

.activity-actions button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;

}

.separator {
    color: #999;
}

.like-btn i {
    color: #b0b3b8;
    transition: .3s;
}

.like-btn {
    color: #65676b;
    transition: .3s;
}


.like-btn.liked i {
    color: #1877F2;
}


.comment-btn i {
    color: #65676b;
}


.commentaires-box {
    margin-top: 15px;
    padding: 15px;
    background: #f5f5f5;
    border-radius: 10px;
}


/* ------------------section Recherche----------------------- */

.search-section {
    padding: 60px 0;
    background: #e8f5e9;
    text-align: center;

}

.search-section h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.search-box {
    background: white;
    width: 600px;
    max-width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
}

.search-box input {
    border-radius: 50px;
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 25px;
    font-size: 20px;
}

.search-box button {
    border: none;
    outline: none;
    background: white;
    border-radius: 50px;
    font-size: 30px;
    padding: 15px 20px;
    color: #089111;
}




/* ============================PAGE CONTACT========================== */
.contact-container {
    max-width: 1100px;
    margin: auto;
}

.contact-header {
    text-align: center;
    margin-bottom: 45px;
}


.contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #1877f2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 28px;

}

.contact-header h1 {
    font-size: 36px;
    color: #1d3557;
    margin-bottom: 12px;
}


.contact-header p {
    max-width: 650px;
    margin: auto;
    color: #777;
    line-height: 1.7;
}

.contact-content {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 30px;
}

.contact-info,
.contact-form-container {
    background: white;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.10);
}

.contact-info h2,
.contact-form-container h2 {
    color: #1d3557;
    margin-bottom: 15px;
}


.contact-info>p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 25px;
}

.info-icon {
    min-width: 45px;
    height: 45px;
    border-radius: 12px;
    background: #eaf3ff;
    color: #1877f2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-item h3 {
    font-size: 16px;
    margin-bottom: 5px;
}


.info-item p {
    color: #777;
    line-height: 1.5;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}


.form-group input,
.form-group textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 11px;
    padding: 14px;
    font-size: 16px;
    outline: none;
    font-family: inherit;
    transition: 0.25s;
}


.form-group input:focus,
.form-group textarea:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.10);
}

.form-group textarea {
    min-height: 150px;
    max-height: 300px;
    resize: none;
    line-height: 1.5;
    overflow-y: auto;
}

.response-message {
    min-height: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}


.response-message.success {
    color: #198754;
}

.response-message.error {
    color: #dc3545;
}

.btn-contact {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 11px;
    background: #1877f2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.btn-contact:hover {
    background: #0d65d9;
    transform: translateY(-1px);
}

@media (max-width: 800px) {
    .contact-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    body {
        padding: 30px 15px;
    }


    .contact-info,
    .contact-form-container {
        padding: 25px 20px;
    }


    .contact-header h1 {
        font-size: 28px;
    }
}






/* ==============Footer================= */
footer {
    background: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
}